<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Friend</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title text-center">Add a Friend</h2>
          <form th:action="@{/add-friend}" th:object="${addContactForm}" method="POST">
            <div class="container mt-5 mb-5 d-flex justify-content-center">
              <div class="card p-5">
                <div><h4 class="heading">Add a contact email</h4>

                  <div class="pricing p-3 rounded mt-4 d-flex justify-content-between">
                    <input type="text" th:field="*{email}"
                           class="form-control floatingInput" name="email"
                           id="floatingInputAmount" placeholder="email"/>
                    <label for="floatingInputAmount"></label>
                  </div>



                  <div class="mt-3">
                    <button class="btn btn-primary btn-block payment-button" type="submit">Add contact<i
                            class="fa fa-long-arrow-right"></i></button>
                  </div>
                </div>


          </form>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap JS and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
