<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Payment Confirmation</title>
  <link rel="stylesheet" href="bootstrap.min.css">
  <!-- Ajoutez d'autres liens vers les fichiers de style si nécessaire -->
</head>
<body>
<div class="container mt-5">
  <h1 class="text-center">Payment Confirmation</h1>
  <div class="alert alert-success" role="alert">
    Payment successful! Thank you for your payment.
  </div>
</div>

<script src="bootstrap.min.js"></script>
</body>
</html>
