<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flash Cash - Accueil</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="index.css"> <!-- Ajoutez le lien vers votre fichier CSS personnalisé -->
</head>
<body classe="z">
<header class="header">
    <h1 class="logo2">Flash Cash</h1>
    <nav class="nav">
        <ul>
            <li><a href="@/login">Se connecter</a></li>
            <li><a href="@/signup">S'inscrire</a></li>
            <li><a th:href="@{/profile}">mon profil</a></li>

        </ul>
    </nav>
</header>
<main class="main-content">
    <section class="hero">
        <h2>Bienvenue sur Flash Cash</h2>
        <p>La solution rapide et pratique pour les transactions d'argent.</p>
    </section>
    <section class="features">
        <div class="feature">
            <h3>S'enregistrer facilement</h3>
            <p>Créez un compte avec votre adresse e-mail ou vos réseaux sociaux.</p>
        </div>
        <div class="feature">
            <h3>Transférer de l'argent</h3>
            <p>Ajoutez des amis et transférez de l'argent en quelques clics.</p>
        </div>
        <div class="feature">
            <h3>Paiements rapides</h3>
            <p>Effectuez des paiements à d'autres utilisateurs enregistrés.</p>
        </div>
    </section>
</main>
<footer class="footer3">
    <p>&copy; 2023 Flash Cash. Tous droits réservés.</p>
</footer>
</body>
</html>
