<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="index.css"> <!-- Ajoutez le lien vers votre fichier CSS personnalisé -->
</head>
<body>
<table class="table text-center">
    <thead>
    <tr>
        <th scope="col">User</th>
        <th scope="col">Amount</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${user.email}"></td>
        <td th:text="${user.userAccount.amount}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
