<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="index.css"> <!-- Ajoutez le lien vers votre fichier CSS personnalisé -->
</head>
<body>
<div class="container1">
    <h1 class="form-title">Connexion</h1>
    <form th:action="@{/signin}" method="POST" class="login-form">
        <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" placeholder="Enter email">

        <label for="password" class="form-label1">Mot de passe:</label>
        <input type="password" id="password" name="password" class="form-control1" required>

        <button type="submit" class="btn btn-primary1">Connexion</button>
    </form>

    <p class="form-link1">Pas encore de compte ? <a href="/signup">Inscrivez-vous ici</a></p>
    <p class="form-link1"><a href="/forgot-password">Mot de passe oublié ?</a></p>
</div>
</body>
</html>
